
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>  Agriculture </title>
  </head>
  <body style="background-color:PaleGreen;">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<h1>Introduction</h1>
<p>
Plant Disease Detection is one of the mind boggling issue that exits when we talk about using Technology in Agriculture.
In recent times, server based and mobile based approach for disease identification has been employed for disease identification. Several factors of these technologies being high resolution camera, high performance processing and extensive built in accessories are the added advantages resulting in automatic disease recognition
Modern approaches such as machine learning has been employed to increase the recognition rate and the accuracy of the results. Various researches have taken place under the field of machine learning for plant disease detection and diagnosis
The presence of disease on the plant is mainly reflected by symptoms on leaves. So there is a need of an automatic, accurate and less expensive Machine Vision System for detection of diseases from the image and to suggest a proper pesticide as a solution. 
</p>

<h1>Litrature Survey</h1>
<h2>Detection of leaf diseases and classification using digital image processing:</h2>
<p>
image processing technique are used to detect the citrus leaf disease. This system includes: Image preprocessing, segmentation of the leaf using K-means clustering to determine the diseased areas, feature extraction and classification of disease. Uses Gray-Level Co-Occurrence matrix (GLCM) for feature extraction and classification is done using support vector machine (SVM),k-nearest neighbors(KNN),Random forest.
</p>

<h2>Supervised Machine Learning Algorithm:</h2>
<p>Since our dataset is labelled we are going to use Supervised machine learning algorithm like SVM, KNN, RF. We can use this classifier algorithms by importing Sci-kit learn library which consists of all this classifier algorithm.
</p>




    


    
  </body>
</html>
  {{variable}}

</body>
</html>
